DNS config

==================================> /var/cache/bind/db.example.com

;
; BIND data file for local loopback interface
;
$TTL    604800
@       IN      SOA     ns1.socialsolidarity.lat. root.socialsolidarity.lat. (
                              1          ; Serial
                         604800          ; Refresh
                          86400          ; Retry
                        2419200          ; Expire
                         604800 )        ; Negative Cache TTL
 
@       IN      A       193.187.174.212
 
@       IN      NS      ns1.socialsolidarity.lat.
ns1     IN      A       193.187.174.212
 
@       IN      NS      ns2.socialsolidarity.lat.
ns2     IN      A       193.187.174.212
 
@       IN      MX      10      mail
mail    IN      A       193.187.174.212
 
www     IN      A       193.187.174.212





==================================>  /etc/bind/named.conf.local

zone "socialsolidarity.lat" {
        type master;
        file "db.socialsolidarity.lat";
};




==================================> Commands

dig @194.163.161.197 example.com any

dig @194.163.161.197 www.example.com any +noall +answer

dig +noall +answer example.com any
