@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@400;500;600;700&display=swap");


#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal {
  width: 72%;
  max-width: 700px;
  padding: 1.5rem;
  border: 0;
  border-radius: 15px;
}

#modal .modal-btn {
  padding: 10px 18px;
  margin-top: 10px;
}

#modal .modal-btn:first-child {
  /* Subscribe Button */
  background-color: #00ce79;
}

#modal .modal-btn:last-child {
  /* Close Button */
  border: 1px solid black;
  background-color: #fff;
  margin-left: 16px;
}

#modal .modal-btn:last-child:hover {
  color: white;
  background-color: #000;
}

#modal::backdrop {
  background: rgb(0 0 0 / 0.5);
}

#modal h2 {
  margin-bottom: 20px;
}

#modal p {
  font-weight: 500;
  margin-bottom: 10px;
}