{% if messages %}
    {% for message in messages %}
        <div class="toast">
            <div class="toast-content">
                <i class="fas fa-solid fa-check check"></i>
                <div class="message">
                    <span class="text text-1">{{ message.tags }}</span>
                    <span class="text text-2">{{ message }}</span>
                </div>
            </div>
            <i class="fa-solid fa-xmark close">X</i>
            <div class="progress"></div>
        </div>
    {% endfor %}
{% endif %}
