{% load static %}
{% load i18n %}
<aside id="sidebar" class="sidebar break-point-sm has-bg-image">
  <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
  <div class="sidebar-layout">
    <div class="sidebar-header">
      <div class="pro-sidebar-logo">
        <div>
          <img src="{% static 'root/src/logo.png' %}" width="46" height="46" />
        </div>
        <h5>{% trans "Social solidarity" %}</h5>
      </div>
    </div>
    <div class="sidebar-content">
      <nav class="menu open-current-submenu">
        <ul>
          <li class="menu-header">
            <span>{% trans "GENERAL" %}</span>
          </li>
          {# Dashboard #}
          <!--
          <li class="menu-item sub-menu">
            <a href="#">
              <span class="menu-icon">
                <i class="ri-dashboard-fill"></i>
              </span>
              <span class="menu-title">{% trans "Dashboard" %}</span>
              <span class="menu-suffix">
                {% comment %} <span class="badge primary">Hot</span> {% endcomment %}
              </span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item">
                  <a href="{% url 'crm:dashboard' %}">
                    <span class="menu-title">{% trans "Menu-1 show menu" %}</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    <span class="menu-title">{% trans "Menu-2" %}</span>
                  </a>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Menu-3" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">{% trans "Menu-3_1" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#">
                          <span class="menu-title">{% trans "Menu-3_2" %}</span>
                        </a>
                      </li>
                      <li class="menu-item sub-menu">
                        <a href="#">
                          <span class="menu-title">{% trans "Menu-3_3" %}</span>
                        </a>
                        <div class="sub-menu-list">
                          <ul>
                            <li class="menu-item">
                              <a href="#">
                                <span class="menu-title">{% trans "Menu3_3_1" %}</span>
                              </a>
                            </li>
                            <li class="menu-item">
                              <a href="#">
                                <span class="menu-title">{% trans "Menu3_3_2" %}</span>
                              </a>
                            </li>
                            <li class="menu-item sub-menu">
                              <a href="#">
                                <span class="menu-title">{% trans "Menu3_3_3" %}</span>
                                <span class="menu-suffix">&#x1F914;</span>
                              </a>
                              <div class="sub-menu-list">
                                <ul>
                                  <li class="menu-item">
                                    <a href="#">
                                      <span class="menu-prefix">&#127881;</span>
                                      <span class="menu-title">{% trans "You made it" %}</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          -->
          {# Subscriptions #}
          <li class="menu-item sub-menu">
            <a href="#">
              <span class="menu-icon">
                <i class="ri-bar-chart-2-fill"></i>
              </span>
              <span class="menu-title">{% trans "Subscriptions" %}</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription 0 to 60" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="c60" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c60_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c60_create' %}">
                          <span class="menu-title">{% trans "create" %}</span>
                        </a>
                      </li>
                      <li class="menu-item sub-menu">
                        <a href="#">
                          <span class="menu-title">{% trans "Lottery" %}</span>
                        </a>
                        <div class="sub-menu-list">
                          <ul>
                            <li class="menu-item sub-menu">
                              <a href="#">
                                <span class="menu-title">{% trans "Lottery Quran" %}</span>
                              </a>
                              <div class="sub-menu-list">
                                <ul>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_lottery' title='quran' %}">
                                      <span class="menu-title">{% trans "List" %}</span>
                                    </a>
                                  </li>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_addtolottery' title='quran' %}">
                                      <span class="menu-title">{% trans "Add To Lottery" %}</span>
                                    </a>
                                  </li>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_holdinglottery' title='quran' %}">
                                      <span class="menu-title">{% trans "Holding a lottery" %}</span>
                                    </a>
                                  </li>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_draws' title='quran' %}">
                                      <span class="menu-title">{% trans "Draws done" %}</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                            <li class="menu-item sub-menu">
                              <a href="#">
                                <span class="menu-title">{% trans "Lottery Ziarat" %}</span>
                              </a>
                              <div class="sub-menu-list">
                                <ul>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_lottery' title='ziarat' %}">
                                      <span class="menu-title">{% trans "List" %}</span>
                                    </a>
                                  </li>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_addtolottery' title='ziarat' %}">
                                      <span class="menu-title">{% trans "Add To Lottery" %}</span>
                                    </a>
                                  </li>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_holdinglottery' title='ziarat' %}">
                                      <span class="menu-title">{% trans "Holding a lottery" %}</span>
                                    </a>
                                  </li>
                                  <li class="menu-item">
                                    <a href="{% url 'crm:c60_draws' title='ziarat' %}">
                                      <span class="menu-title">{% trans "Draws done" %}</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription 61 to 69" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="c61" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c61_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c61_create' %}">
                          <span class="menu-title">{% trans "create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription 70 and above" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="c70" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c70_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c70_create' %}">
                          <span class="menu-title">{% trans "create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription Dead" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="cd" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:cd_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:cd_create' %}">
                          <span class="menu-title">{% trans "create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription Judiciary of the Dead" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="jd" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:jd_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:jd_create' %}">
                          <span class="menu-title">{% trans "create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Performing acts of worship" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="dd" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:dd_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:dd_create' %}">
                          <span class="menu-title">{% trans "create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Public assistance" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="pa" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:pa_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:pa_create' %}">
                          <span class="menu-title">{% trans "create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          {# Subscription Purchases #}
          <li class="menu-item sub-menu">
            <a href="#">
              <span class="menu-icon">
                <i class="ri-message-2-fill"></i>
              </span>
              <span class="menu-title">{% trans "Notification messages" %}</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item">
                  <a href="{% url 'crm:msg_list' %}">
                    <span class="menu-title">{% trans "Notifications Sent" %}</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'crm:msg_create' %}">
                    <span class="menu-title">{% trans "Send New Notification" %}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {# User Manager #}
          <li class="menu-item sub-menu">
            <a href="#">
              <span class="menu-icon">
                <i class="ri-account-pin-circle-fill"></i>
              </span>
              <span class="menu-title">{% trans "User Manager" %}</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item">
                  <a href="{% url 'accounts:users_overview' %}">
                    <span class="menu-title">{% trans "Overview" %}</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'accounts:user_list' %}">
                    <span class="menu-title">{% trans "User list" %}</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'accounts:user_create' %}">
                    <span class="menu-title">{% trans "Create User" %}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {# Account Setting #}
          <li class="menu-header" style="padding-top: 20px">
            <span>{% trans "Account Setting" %}</span>
          </li>
          <li class="menu-item">
            <a href="{% url 'accounts:profile' %}">
              <span class="menu-icon">
                <i class="ri-user-fill"></i>
              </span>
              <span class="menu-title">{% trans "Profile" %}</span>
              <span class="menu-suffix">
                {% comment %} <span class="badge secondary">Beta</span> {% endcomment %}
              </span>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'accounts:profilepass' %}">
              <span class="menu-icon">
                <i class="ri-lock-password-fill"></i>
              </span>
              <span class="menu-title">{% trans "Change Password" %}</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'accounts:logout' %}">
              <span class="menu-icon">
                <i class="ri-logout-box-fill"></i>
              </span>
              <span class="menu-title">{% trans "LogOut" %}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
