{% load static %}
{% load i18n %}
<aside id="sidebar" class="sidebar break-point-sm has-bg-image">
  {% comment %} <a href="{% url 'crm:set_language_from_url' 'en' %}">EN</a> {% endcomment %}
  {% comment %} <a href="{% url 'crm:set_language_from_url' 'ar' %}">AR</a> {% endcomment %}
  <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a>
  <div class="sidebar-layout">
    <div class="sidebar-header">
      <div class="pro-sidebar-logo">
        <div>
          <img src="{% static 'root/src/logo.png' %}" width="46" height="46" />
        </div>
        <h5>{% trans "Social solidarity" %}</h5>
      </div>
    </div>
    <div class="sidebar-content">
      <nav class="menu open-current-submenu">
        <ul>
          <li class="menu-header">
            {# Change language Button #}
            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}">
              <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code }}"
                          {% if language.code == LANGUAGE_CODE %}selected{% endif %}>{{ language.name_local }} ({{ language.code }})</option>
                {% endfor %}
              </select>
              <input type="submit" value="Go">
            </form>
            {# Change language Button #}
            <span>{% trans "GENERAL" %}</span>
          </li>
          {# Dashboard #}
          <li class="menu-item sub-menu">
            <a href="{% url 'crm:home' %}">
              <span class="menu-icon">
                <i class="ri-dashboard-fill"></i>
              </span>
              <span class="menu-title">{% trans "Dashboard" %}</span>
              <span class="menu-suffix">
                {% comment %} <span class="badge primary">Hot</span> {% endcomment %}
              </span>
            </a>
            <div class="sub-menu-list"></div>
          </li>
          {# Subscriptions #}
          <li class="menu-item sub-menu">
            <a href="#">
              <span class="menu-icon">
                <i class="ri-bar-chart-2-fill"></i>
              </span>
              <span class="menu-title">{% trans "Subscriptions" %}</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                {% if user.is_superuser %}
                  <li class="menu-item">
                    <a href="{% url 'crm:amount_list' %}">
                      <span class="menu-title">{% trans "Commons Amount" %}</span>
                    </a>
                  </li>
                {% endif %}
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription 0 to 60" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="c60" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c60_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c60_create' %}">
                          <span class="menu-title">{% trans "Create" %}</span>
                        </a>
                      </li>
                      {% if user.is_superuser %}
                        <li class="menu-item sub-menu">
                          <a href="#">
                            <span class="menu-title">{% trans "Lottery" %}</span>
                          </a>
                          <div class="sub-menu-list">
                            <ul>
                              <li class="menu-item sub-menu">
                                <a href="#">
                                  <span class="menu-title">{% trans "Lottery Quran" %}</span>
                                </a>
                                <div class="sub-menu-list">
                                  <ul>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_lottery' title='quran' %}">
                                        <span class="menu-title">{% trans "List" %}</span>
                                      </a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_addtolottery' title='quran' %}">
                                        <span class="menu-title">{% trans "Add To Lottery" %}</span>
                                      </a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_holdinglottery' title='quran' %}">
                                        <span class="menu-title">{% trans "Holding a lottery" %}</span>
                                      </a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_draws' title='quran' %}">
                                        <span class="menu-title">{% trans "Draws done" %}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li class="menu-item sub-menu">
                                <a href="#">
                                  <span class="menu-title">{% trans "Lottery Ziarat" %}</span>
                                </a>
                                <div class="sub-menu-list">
                                  <ul>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_lottery' title='ziarat' %}">
                                        <span class="menu-title">{% trans "List" %}</span>
                                      </a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_addtolottery' title='ziarat' %}">
                                        <span class="menu-title">{% trans "Add To Lottery" %}</span>
                                      </a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_holdinglottery' title='ziarat' %}">
                                        <span class="menu-title">{% trans "Holding a lottery" %}</span>
                                      </a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="{% url 'crm:c60_draws' title='ziarat' %}">
                                        <span class="menu-title">{% trans "Draws done" %}</span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription 61 to 69" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="c61" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c61_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c61_create' %}">
                          <span class="menu-title">{% trans "Create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription 70 and above" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="c70" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c70_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:c70_create' %}">
                          <span class="menu-title">{% trans "Create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription Dead" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="cd" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:cd_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:cd_create' %}">
                          <span class="menu-title">{% trans "Create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Subscription Judiciary of the Dead" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="jd" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:jd_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:jd_create' %}">
                          <span class="menu-title">{% trans "Create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Performing acts of worship" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="dd" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:dd_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:dd_create' %}">
                          <span class="menu-title">{% trans "Create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item sub-menu">
                  <a href="#">
                    <span class="menu-title">{% trans "Public assistance" %}</span>
                  </a>
                  <div class="sub-menu-list">
                    <ul>
                      <li class="menu-item">
                        <a href="{% url 'crm:subscribe_overview' model="pa" %}">
                          <span class="menu-title">{% trans "Overview" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:pa_list' %}">
                          <span class="menu-title">{% trans "List" %}</span>
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="{% url 'crm:pa_create' %}">
                          <span class="menu-title">{% trans "Create" %}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          {# Table Gifts #}
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <i class="ri-archive-drawer-fill"></i>
                </span>
                <span class="menu-title">{% trans "Table Gifts" %}</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  {% if user.is_superuser %}
                  <li class="menu-item">
                    <a href="{% url 'crm:tabalegift_create' %}">
                      <span class="menu-title">{% trans "Create Lottery" %}</span>
                    </a>
                  </li>
                   {% endif %}
                  <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-title">{% trans "Table u16" %}</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="{% url 'crm:tabgift' tabname='tableu16' %}">
                            <span class="menu-title">{% trans "List" %}</span>
                          </a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="menu-item">
                          <a href="{% url 'crm:holdtablottery' tabname='tableu16' %}">
                            <span class="menu-title">{% trans "Holding Lottery" %}</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </li>
                  <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-title">{% trans "Table 2" %}</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="{% url 'crm:tabgift' tabname='table2' %}">
                            <span class="menu-title">{% trans "List" %}</span>
                          </a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="menu-item">
                          <a href="{% url 'crm:holdtablottery' tabname='table2' %}">
                            <span class="menu-title">{% trans "Holding Lottery" %}</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </li>
                  <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-title">{% trans "Table 3" %}</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="{% url 'crm:tabgift' tabname='table3' %}">
                            <span class="menu-title">{% trans "List" %}</span>
                          </a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="menu-item">
                          <a href="{% url 'crm:holdtablottery' tabname='table3' %}">
                            <span class="menu-title">{% trans "Holding Lottery" %}</span>
                          </a>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                    {% if user.is_superuser %}
                  </li>
                  <li class="menu-item">
                    <a href="{% url 'crm:participants' %}">
                      <span class="menu-title">{% trans "Participants" %}</span>
                    </a>
                  </li>
                  {% endif %}
                </li>
                <li class="menu-item">
                  <a href="{% url 'crm:tabwinners' %}">
                    <span class="menu-title">{% trans "Participants Winners" %}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        {# Notifications #}
        <li class="menu-item sub-menu">
          <a href="#">
            <span class="menu-icon">
              <i class="ri-message-2-fill"></i>
            </span>
            <span class="menu-title">{% trans "Notification messages" %}</span>
          </a>
          <div class="sub-menu-list">
            <ul>
              <li class="menu-item">
                <a href="{% url 'crm:msg_list' %}">
                  <span class="menu-title">{% trans "Notifications Sent" %}</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'crm:msg_create' %}">
                  <span class="menu-title">{% trans "Send New Notification" %}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        {# Social Media #}
        <li class="menu-item sub-menu">
          <a href="#">
            <span class="menu-icon">
              <i class="ri-camera-3-line"></i>
            </span>
            <span class="menu-title">{% trans "Social Media" %}</span>
          </a>
          <div class="sub-menu-list">
            <ul>
              <li class="menu-item">
                <a href="{% url 'crm:post_create' %}">
                  <span class="menu-title">{% trans "Send Media" %}</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'crm:news_create' %}">
                  <span class="menu-title">{% trans "Create News Text" %}</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'crm:news_list' %}">
                  <span class="menu-title">{% trans "News Texts" %}</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'crm:post_list' %}?f=story">
                  <span class="menu-title">{% trans "Stories" %}</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'crm:post_list' %}?f=post">
                  <span class="menu-title">{% trans "Posts" %}</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'crm:post_list' %}?f=adv">
                  <span class="menu-title">{% trans "Advertising" %}</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="{% url 'crm:comment_list' %}?f=adv">
                  <span class="menu-title">{% trans "Comments" %}</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        {# User Manager #}
        {% if user.is_superuser %}
          <li class="menu-item sub-menu">
            <a href="#">
              <span class="menu-icon">
                <i class="ri-account-pin-circle-fill"></i>
              </span>
              <span class="menu-title">{% trans "User Manager" %}</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item">
                  <a href="{% url 'accounts:users_overview' %}">
                    <span class="menu-title">{% trans "Overview" %}</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'accounts:user_list' %}">
                    <span class="menu-title">{% trans "User list" %}</span>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'accounts:user_create' %}">
                    <span class="menu-title">{% trans "Create User" %}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        {% endif %}
         {# API Document URL #}
          <li class="menu-item sub-menu">
            <a href="http://127.0.0.1:8000/swagger/" target="_blank">
              <span class="menu-icon">
                <i class="ri-code-s-slash-line"></i>
              </span>
              <span class="menu-title">{% trans "API Document" %}</span>
              <span class="menu-suffix">
              </span>
            </a>
            <div class="sub-menu-list"></div>
          </li>
        {# Account Setting #}
        {% if user.is_superuser %}
          <li class="menu-header" style="padding-top: 20px">
            <span>{% trans "Account Setting" %}</span>
          </li>
          <li class="menu-item">
            <a href="{% url 'accounts:profile' %}">
              <span class="menu-icon">
                <i class="ri-user-fill"></i>
              </span>
              <span class="menu-title">{% trans "Profile" %}</span>
              <span class="menu-suffix">
                {% comment %} <span class="badge secondary">Beta</span> {% endcomment %}
              </span>
            </a>
          </li>
        {% endif %}
        <li class="menu-item">
          <a href="{% url 'accounts:profilepass' %}">
            <span class="menu-icon">
              <i class="ri-lock-password-fill"></i>
            </span>
            <span class="menu-title">{% trans "Change Password" %}</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'accounts:logout' %}">
            <span class="menu-icon">
              <i class="ri-logout-box-fill"></i>
            </span>
            <span class="menu-title">{% trans "LogOut" %}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</aside>
