{% load widget_tweaks %}
<div class="" style="color:red;">IdCode:    {{ c60.id }}</div>
<div class="">name:    {{ c60.name }}</div>
<div class="">age: {{ c60.age }}</div>
<div class="">idcode:    {{ c60.idcode }}</div>
<div class="">sickness:    {{ c60.sickness }}</div>
<div class="">contery:    {{ c60.contery }}</div>
<div class="">create:    {{ c60.create }}</div>
<div class="">phone:    {{ c60.phone }}</div>
<div class="">phoneagent:    {{ c60.phoneagent }}</div>
<div class="">amount:    {{ c60.amount }}</div>
<div class="">link:    {{ c60.link }}</div>
<div class="">status:    {{ c60.status }}</div>
