{% extends "base.html" %}
{% block content %}
    <table id="objs-table" class="table">
        <thead>
            <tr>
                <th>IdCode:</th>
                <th>{{ obj.id }}</th>
            </tr>
            <tr>
                <th>usersubmit:</th>
                <th>{{ obj.usersubmit }}</th>
            </tr>
            <tr>
                <th>name:</th>
                <th>{{ obj.name }}</th>
            </tr>
            <tr>
                <th>amount:</th>
                <th>{{ obj.amount }}</th>
            </tr>
            <tr>
                <th>yearprayer:</th>
                <th>{{ obj.yearprayer }}</th>
            </tr>
            <tr>
                <th>yearfasting:</th>
                <th>{{ obj.yearfasting }}</th>
            </tr>
            <tr>
                <th>pilgrimage:</th>
                <th>{{ obj.pilgrimage }}</th>
            </tr>
            <tr>
                <th>agent:</th>
                <th>{{ obj.agent }}</th>
            </tr>
            <tr>
                <th>phone:</th>
                <th>{{ obj.phone }}</th>
            </tr>
            <tr>
                <th>contery:</th>
                <th>{{ obj.contery }}</th>
            </tr>
            <tr>
                <th>deposit:</th>
                <th>{{ obj.deposit }}</th>
            </tr>
            <tr>
                <th>create:</th>
                <th>{{ obj.create }}</th>
            </tr>
            <tr>
                <th>link:</th>
                <th>{{ obj.link }}</th>
            </tr>
            <tr>
                <th>status:</th>
                <th>{{ obj.status }}</th>
            </tr>
        </thead>
    </table>
{% endblock content %}
