{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'crm/css/printstyle.css' %}">
{% endblock head %}
{% block content %}
    <table id="objs-table" class="table">
        <thead>
            <tr>
                <th>ID:</th>
                <th>{{ obj.id }}</th>
            </tr>
            <tr>
                <th>User Submit:</th>
                <th>{{ obj.usersubmit }}</th>
            </tr>
            <tr>
                <th>Name:</th>
                <th>{{ obj.name }}</th>
            </tr>
            <tr>
                <th>Amount:</th>
                <th>{{ obj.amount }}</th>
            </tr>
            <tr>
                <th>Year Prayer:</th>
                <th>{{ obj.yearprayer }}</th>
            </tr>
            <tr>
                <th>Year Fasting:</th>
                <th>{{ obj.yearfasting }}</th>
            </tr>
            <tr>
                <th>Pilgrimage:</th>
                <th>{{ obj.pilgrimage }}</th>
            </tr>
            <tr>
                <th>Agent:</th>
                <th>{{ obj.agent }}</th>
            </tr>
            <tr>
                <th>Phone:</th>
                <th>{{ obj.phone }}</th>
            </tr>
            <tr>
                <th>Contery:</th>
                <th>{{ obj.contery }}</th>
            </tr>
            <tr>
                <th>State/City:</th>
                <th>{{ obj.city }}</th>
            </tr>
            <tr>
                <th>Deposit:</th>
                <th>{{ obj.deposit }}</th>
            </tr>
            <tr>
                <th>Create Date:</th>
                <th>{{ obj.create|date:"Y-m-d (H:i)" }}</th>
            </tr>
            <tr>
                <th>Link:</th>
                <th>{{ obj.link }}</th>
            </tr>
            <tr>
                <th>Status:</th>
                <th>{{ obj.status }}</th>
            </tr>
        </thead>
    </table>
    <center>
        <button onclick="window.print();" class="print-button noPrint">
            <span class="print-icon"></span>
        </button>
    </center>
{% endblock content %}
