{% extends "base.html" %}
{% block content %}
    <table id="objs-table" class="table">
        <thead>
            <tr>
                <th>IdCode:</th>
                <th>{{ c60.id }}</th>
            </tr>
            <tr>
                <th>Name:</th>
                <th>{{ c60.name }}</th>
            </tr>
            <tr>
                <th>age:</th>
                <th>{{ c60.age }}</th>
            </tr>
                        <tr>
                <th>idcode:</th>
                <th>{{ c60.idcode }}</th>
            </tr>
                        <tr>
                <th>sickness:</th>
                <th>{{ c60.sickness }}</th>
            </tr>
                        <tr>
                <th>contery:</th>
                <th>{{ c60.contery }}</th>
            </tr>
                        <tr>
                <th>create:</th>
                <th>{{ c60.create }}</th>
            </tr>
                        <tr>
                <th>phone:</th>
                <th>{{ c60.phone }}</th>
            </tr>
                        <tr>
                <th>phoneagent:</th>
                <th>{{ c60.phoneagent }}</th>
            </tr>
                        <tr>
                <th>amount:</th>
                <th>{{ c60.amount }}</th>
            </tr>
                        <tr>
                <th>link:</th>
                <th>{{ c60.link }}</th>
            </tr>
                        <tr>
                <th>status:</th>
                <th>{{ c60.status }}</th>
            </tr>
        </thead>
    </table>
{% endblock content %}
