{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'crm/css/printstyle.css' %}">
{% endblock head %}
{% block title %}
    {% trans "Lottery Detail" %}
{% endblock title %}
{% block content %}
    <table id="objs-table" class="table">
        <thead>
            <tr>
                <th>{% trans "Table Name" %}:</th>
                <th>{{ obj.tabletype }}</th>
            </tr>
            <tr>
                <th>{% trans "Month Number" %}:</th>
                <th>{{ obj.monthnumber }}</th>
            </tr>
            <tr>
                <th>{% trans "Amount" %}:</th>
                <th>{{ obj.amount }}</th>
            </tr>
            <tr>
                <th>{% trans "Month Amount" %}:</th>
                <th>{{ obj.monthamount }}</th>
            </tr>
            <tr>
                <th>{% trans "Subtraction" %}:</th>
                <th>{{ obj.subtraction }}</th>
            </tr>
            <tr>
                <th>{% trans "Friendships" %}:</th>
                <th>{{ obj.friendships }}</th>
            </tr>
            <tr>
                <th>{% trans "Number Annual" %}:</th>
                <th>{{ obj.numberannual }}</th>
            </tr>
            <tr>
                <th>{% trans "Amount Annual" %}:</th>
                <th>{{ obj.amountannual }}</th>
            </tr>
            <tr>
                <th>{% trans "Total Subtraction" %}:</th>
                <th>{{ obj.totalsubtraction }}</th>
            </tr>
            <tr>
                <th>{% trans "Total Friendships" %}:</th>
                <th>{{ obj.totalfriendships }}</th>
            </tr>
            <tr>
                <th>{% trans "Gifts" %}:</th>
                <th>{{ obj.gifts }}</th>
            </tr>
            <tr>
                <th>{% trans "Month Sequence" %}:</th>
                <th>{{ obj.monthsequence }}</th>
            </tr>
            <tr>
                <th>{% trans "Pay Type" %}:</th>
                <th>{{ obj.paytype }}</th>
            </tr>
            <tr>
                <th>{% trans "Notes" %}:</th>
                <th>{{ obj.notes }}</th>
            </tr>
        </thead>
    </table>
    <center>
        <button onclick="window.print();" class="print-button noPrint">
            <span class="print-icon"></span>
        </button>
    </center>
{% endblock content %}
