{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load basetags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'crm/css/printstyle.css' %}">
{% endblock head %}
{% block title %}
    {% trans "Gift Detail" %}
{% endblock title %}
{% block content %}
    <div id="print_this">
    <table id="objs-table" class="table">
        <tr>
            <th>{% trans "Table Gift" %}:</th>
            <th>{{ obj.tablegift.gifts }}</th>
        </tr>
        <tr>
            <th>{% trans "User" %}:</th>
            <th>{{ obj.user }}</th>
        </tr>
        <tr>
            <th>{% trans "Created" %}:</th>
            <th>{{ obj.created|date:"Y-m-d (H:i)" }}</th>
        </tr>
        <tr>
            <th>{% trans "Updated" %}:</th>
            <th>{{ obj.updated|date:"Y-m-d (H:i)" }}</th>
        </tr>
        <tr>
            <th>{% trans "Active" %}:</th>
            <th>{{ obj.active }}</th>
        </tr>
        <tr>
            <th>{% trans "Count Chances" %}:</th>
            <th>{{ obj.countchances }}</th>
        </tr>
        <tr>
            <th>{% trans "Amount" %}:</th>
            <th>{{ obj.amount }}</th>
        </tr>
        <tr>
            <th>{% trans "Count Pay" %}:</th>
            <th>{{ obj.countpay }}</th>
        </tr>
        <tr>
            <tr>
                <th>{% trans "Installment" %} -> </th>
                <th>{% trans "Paid" %}: {{ obj.pay | checkpaid }}</br>
                {% trans "UnPaid" %}: {{ obj.pay| checkunpaid }}</th>
            </tr>
        </tr>
        <tr>
            <th>{% trans "Pay Status" %}:</th>
            <th>{{ obj.paystatus }}</th>
        </tr>
</table>
</div>
    <center>
        <div class="text-center" style="margin-top:20px;">
            <button class="print-button noPrint"  onclick="printdiv()" target="_blank">
                <span class="print-icon"></span>
            </button>
        </div>
    </center>
{% endblock content %}
