<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>login page</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}" />
        <link rel='stylesheet'
              href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
        <link rel='stylesheet'
              href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
        <link rel="stylesheet" href="{% static 'root/css/snackbar.css' %}">
    </head>
    <body>
        <script src="{% static 'root/js/snackbar.js' %}"></script>
        <div class="section">
            <div class="container">
                <div class="row full-height justify-content-center">
                    <div class="col-12 text-center align-self-center py-5">
                        <div class="section pb-5 pt-5 pt-sm-2 text-center">
                            <h6 class="mb-0 pb-3">
                                <span>English</span><span>عربي</span>
                            </h6>
                            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                            <label for="reg-log"></label>
                            <div class="card-3d-wrap mx-auto">
                                <div class="card-3d-wrapper">
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Log In</h4>
                                                <form action="#" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        {{ form.username }}
                                                        <i class="input-icon uil uil-at"></i>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        {{ form.password }}
                                                        <i class="input-icon uil uil-lock-alt"></i>
                                                    </div>
                                                    <button class="btnclg mt-3">submit</button>
                                                    {% comment %} <p class="mb-0 mt-4 text-center">
                                                        <a href="#0" class="link">Forgot your password?</a>
                                                    </p> {% endcomment %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-back">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">تسجيل الدخول</h4>
                                                <form action="#" method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        {{ formar.username }}
                                                        <i class="input-icon uil uil-at"></i>
                                                    </div>
                                                    <div class="form-group mt-2">
                                                        {{ formar.password }}
                                                        <i class="input-icon uil uil-lock-alt"></i>
                                                    </div>
                                                    <button class="btnclg mt-3">يُقدِّم</button>
                                                    {% comment %} <p class="mb-0 mt-4 text-center">
                                                        <a href="#0" class="link">نسيت كلمة السر؟</a>
                                                    </p> {% endcomment %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "partials/messages.html" %}
    </body>
</html>
